.gallery {
  padding-top: 177px;
  text-align: center;
  padding-bottom: 229px;
}

.gallery-title {
  width: 615px;
  height: 52px;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  color: #010a20;
  margin: 0 auto;
  margin-bottom: 41px;
}

.gallery-paragraph {
  width: 511px;
  height: 47px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1%;
  color: #6f7787;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.header-wrapper {
  display: flex;
  gap: 64px;
}

.flower-icon {
  width: 40px;
  height: 49px;
}

.logo-wrapper {
  display: flex;
  gap: 10px;
}

.logo {
  width: 128px;
  height: 56px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: white;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.32px;
  line-height: 81%;
}

.logo:hover {
  color: white;
}

.header-list {
  display: flex;
  width: 572px;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}

.header-link {
  text-decoration: none;
  color: white;
}

.header-link:hover {
  color: rgb(219, 219, 219);
}

.search-icon {
  width: 24px;
  height: 24px;
}

.hero {
  height: 814px;
}

.container-hero {
  padding-left: 400px;
}

.hero-title {
  width: 627px;
  height: 260px;
  font-weight: 900;
  font-size: 120px;
  line-height: 130px;
  text-transform: uppercase;
  margin-bottom: 21px;
  color: white;
}

.hero-btn {
  font-weight: 700;
  font-size: 20px;
  background-color: #dd2242;
  color: white;
  padding: 20px;
  width: 271.1411437988px;
  height: 82px;
  border: none;
  border-radius: 221px;
  line-height: 150%;
  margin-bottom: 197px;
}

.hero-btn:hover {
  background-color: #c9203c;
}

.hero-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-list {
  list-style: none;
  display: flex;
  gap: 198px;
  width: 1225px;
  height: 210px;
  padding: 40px 128px 50px 128px;
  margin: 0;
}

.hero-item-num {
  color: #dd2242;
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 14px;
  width: 32px;
  height: 19px;
}

.hero-item-title {
  width: 121px;
  height: 40px;
  font-weight: 700;
  font-size: 26px;
  line-height: 41px;
  color: white;
}

.hero-item-p {
  width: 210px;
  height: 46px;
  font-weight: 400;
  font-size: 18px;
  color: #939393;
}

.video-wrapper {
  position: relative;
  width: 417px;
  height: 254px;
}

.video-thumbnail {
  width: 100%;
  display: block;
}

.video {
  width: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.learn-more {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(..//../img/learn-more-bg.png);
  padding-top: 249px;
  padding-bottom: 256px;
  text-align: center;
}

.learn-more-title {
  text-align: center;
  width: 614px;
  height: 100px;
  font-weight: 700;
  font-size: 42px;
  margin: 0 auto;
  margin-bottom: 32px;
  color: black;
}

.learn-more-paragraph {
  font-weight: 400;
  font-size: 18px;
  color: #6f7787;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  width: 470px;
  height: 84px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.learn-more-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  width: 210px;
  height: 64px;
  padding: 16px 24px;
  background-color: #dd2242;
  color: white;
  border: none;
  border-radius: 122px;
  margin: 0 auto;
}

.life-review {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsla(240, 100%, 5%, 0.9);
  background-image: url(../../img/life-review-bg.png);
  padding-top: 141px;
  color: white;
  margin: 0 auto;
}

.life-review-title {
  width: 1056px;
  height: 142px;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: white;
  text-align: center;
  margin-bottom: 67px;
  margin: 0 auto;
}

.video-wrapper {
  position: relative;
  width: 1056px;
  height: 594px;
  margin-bottom: 127px;
}

.video-thumbnail {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.video {
  width: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  background: #e93a7d;
  border: none;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modified {
  width: 233px;
  height: 151px;
}

.btn-modified {
  background: none;
}

.life-review-list {
  display: flex;
  gap: 75px;
  margin: 0 auto;
}

.life-review-list-item {
  gap: 42px;
  display: flex;
}

.life-review-item-video {
  width: 233px;
  height: 151px;
  border-radius: 5px;
}

.life-review-item-title {
  width: 233px;
  height: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 15px;
}

.life-review-item-paragraph {
  width: 334px;
  height: 142px;
  opacity: 70%;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.numbers {
  background-color: #020C21;
  opacity: 90%;
  text-align: center;
  align-items: center;
  padding-top: 201px;
  padding-bottom: 224px;
}

.nums-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  width: 615px;
  height: 52px;
  margin: 0 auto;
}

.nums-paragraph {
  width: 484px;
  height: 102px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin: 0 auto;
  margin-top: 40px;
  color: #E0E0E0;
}

.nums-list {
  margin-top: 39px;
  display: flex;
  gap: 127px;
}

.nums-item-title {
  width: 137px;
  height: 49px;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.4px;
  color: #DD2242;
  margin: 0 auto;
}

.nums-item-paragraph {
  width: 340px;
  height: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #E0E0E0;
}

.process {
  background-color: #dce8f2;
  padding-top: 119px;
  padding-bottom: 117px;
}

.process-title {
  width: 615px;
  height: 76px;
  font-weight: 700;
  font-size: 60px;
  color: #010a20;
}

.one {
  font-weight: 500;
  font-size: 26px;
  color: white;
  background-color: #dd2242;
  padding: 10px 24px;
  border: none;
  border-radius: 50%;
  width: 8px;
  height: 38px;
}

.process-item-num {
  font-weight: 500;
  font-size: 26px;
  color: white;
  background-color: #dd2242;
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  width: 16px;
  height: 38px;
}

.process-item-title {
  width: 336px;
  height: 42px;
  font-weight: 700;
  font-size: 26px;
  color: #010a20;
  line-height: 41px;
}

.process-item-paragraph {
  width: 1038px;
  height: 114px;
  color: rgba(21, 20, 57, 0.4);
  opacity: 40%;
  font-weight: 400;
  font-size: 23px;
  line-height: 38px;
}

.process-item-img {
  width: 249px;
  height: 165px;
}

.process-item-title-another {
  font-weight: 700;
  font-size: 26px;
  color: #010a20;
  line-height: 41px;
  width: 197px;
  height: 42px;
}

.process-item-paragraph-another {
  width: 446px;
  height: 114px;
  font-weight: 400;
  font-size: 23px;
  line-height: 38px;
  color: rgba(21, 20, 57, 0.4);
  opacity: 40%;
}

.process-item-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  width: 210px;
  height: 64px;
  padding: 16px 24px;
  background-color: #dd2242;
  color: white;
  border: none;
  border-radius: 122px;
}

.review-section {
  padding: 0;
}

.review-wrapper-first {
  background-image: linear-gradient(to top, #010a20 0%, rgba(1, 10, 32, 0.7) 100%), url(../../img/road.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 205px 0px 205px 0px;
}

.review-wrapper-second {
  background-image: linear-gradient(to bottom, #010a20 0%, rgba(1, 10, 32, 0.7) 100%), url(../../img/beach.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 205px 0px 205px 0px;
  display: flex;
  flex-direction: row-reverse;
}

.review-list {
  padding: 0;
}

.review-list-item {
  display: flex;
  gap: 130px;
  text-align: left;
}

.review-item-direction {
  display: flex;
  flex-direction: row-reverse;
}

.review-image {
  width: 630px;
  height: 460px;
  border-radius: 10px;
}

.review-title {
  color: white;
  width: 479px;
  height: 119px;
  font-weight: 700;
  font-size: 42px;
  text-align: left;
  line-height: 50px;
}

.review-paragraph {
  width: 407px;
  height: 83px;
  font-weight: 400;
  font-size: 18px;
  color: #e0e0e0;
  line-height: 28px;
  letter-spacing: 1%;
  text-align: left;
}

.review-btn {
  background-color: #dd2242;
  color: white;
  border: none;
  border-radius: 32px;
  width: 179px;
  height: 59px;
  padding: 16px 24px;
  font-weight: 700;
  font-size: 18px;
}

.review-btn:hover {
  background-color: #c9203c;
}

.secrets {
  padding-top: 127px;
  padding-bottom: 933px;
}

.secrets-title {
  text-align: center;
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  vertical-align: middle;
  color: #010A20;
}

.secrets-list {
  display: flex;
  gap: 31px;
}

.secrets-img {
  width: 405px;
  height: 257px;
  border-radius: 10px;
}

.gallery-title, .gallery-paragraph, .hero-btn, .hero-item-title, .hero-item-p, .learn-more-title, .learn-more-paragraph, .learn-more-btn, .life-review-title, .life-review-item-title, .life-review-item-paragraph, .nums-title, .nums-paragraph, .nums-item-title, .nums-item-paragraph, .process, .one, .process-item-num, .process-item-btn, .review-title, .review-paragraph, .review-btn, .secrets-title {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

.logo, .hero-title, .hero-item-num {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.bg-header-hero {
  background-image: url(../img/bg-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-secrets-nums {
  background-image: url(../img/bg-secret.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */