.header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.header-wrapper {
  display: flex;
  gap: 64px;
}

.flower-icon {
  width: 40px;
  height: 49px;
  background-color: rgb(255, 255, 255);
}

.logo-wrapper {
  display: flex;
  gap: 10px;
}

.logo {
  width: 128px;
  height: 56px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: white;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.32px;
  line-height: 81%;
}

.logo:hover {
  color: white;
}

.header-list {
  display: flex;
  width: 572px;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}

.header-link {
  text-decoration: none;
  color: white;
}

.header-link:hover {
  color: rgb(219, 219, 219);
}

.search-icon {
  width: 24px;
  height: 24px;
}

.hero {
  height: 814px;
}

.hero-title {
  width: 627px;
  height: 260px;
  font-weight: 900;
  font-size: 120px;
  line-height: 130px;
  text-transform: uppercase;
  margin-bottom: 21px;
  color: white;
}

.hero-btn {
  font-weight: 700;
  font-size: 20px;
  background-color: #DD2242;
  color: white;
  padding: 20px;
  width: 271.1411437988px;
  height: 82px;
  border: none;
  border-radius: 221px;
  line-height: 150%;
  margin-bottom: 241px;
}

.hero-btn:hover {
  background-color: #c9203c;
}

.hero-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-list {
  list-style: none;
  display: flex;
  gap: 198px;
  width: 1225px;
  height: 210px;
  padding: 40px 128px 50px 128px;
  margin: 0;
}

.hero-item-num {
  color: #DD2242;
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 14px;
  width: 32px;
  height: 19px;
}

.hero-item-title {
  width: 121px;
  height: 40px;
  font-weight: 700;
  font-size: 26px;
  line-height: 41px;
  color: white;
}

.hero-item-p {
  width: 210px;
  height: 46px;
  font-weight: 400;
  font-size: 18px;
  color: #939393;
}

.numbers {
  background-color: #020C21;
  opacity: 90%;
  text-align: center;
  align-items: center;
  padding-top: 201px;
  padding-bottom: 224px;
}

.nums-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  width: 615px;
  height: 52px;
  margin: 0 auto;
}

.nums-paragraph {
  width: 484px;
  height: 102px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin: 0 auto;
  margin-top: 40px;
  color: #E0E0E0;
}

.nums-list {
  margin-top: 39px;
  display: flex;
  gap: 127px;
}

.nums-item-title {
  width: 137px;
  height: 49px;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.4px;
  color: #DD2242;
  margin: 0 auto;
}

.nums-item-paragraph {
  width: 340px;
  height: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #E0E0E0;
}

.review-section {
  padding: 0;
}

.review-wrapper-first {
  background-image: linear-gradient(to top, #010a20 0%, rgba(1, 10, 32, 0.7) 100%), url(../../img/road.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 205px 0px 205px 0px;
}

.review-wrapper-second {
  background-image: linear-gradient(to bottom, #010a20 0%, rgba(1, 10, 32, 0.7) 100%), url(../../img/beach.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 205px 0px 205px 0px;
}

.review-list {
  padding: 0;
}

.review-list-item {
  display: flex;
  gap: 130px;
  text-align: center;
}

.review-image {
  width: 630px;
  height: 460px;
  border-radius: 10px;
}

.review-title {
  color: white;
  width: 479px;
  height: 119px;
  font-weight: 700;
  font-size: 42px;
  text-align: left;
  line-height: 50px;
}

.review-paragraph {
  width: 407px;
  height: 83px;
  font-weight: 400;
  font-size: 18px;
  color: #e0e0e0;
  line-height: 28px;
  letter-spacing: 1%;
  text-align: left;
}

.review-btn {
  background-color: #dd2242;
  color: white;
  border: none;
  border-radius: 32px;
  width: 179px;
  height: 59px;
  padding: 16px 24px;
  font-weight: 700;
  font-size: 18px;
}

.review-btn:hover {
  background-color: #c9203c;
}

.secrets {
  padding-top: 127px;
  padding-bottom: 933px;
}

.secrets-title {
  text-align: center;
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  vertical-align: middle;
  color: #010A20;
}

.secrets-list {
  display: flex;
  gap: 31px;
}

.secrets-img {
  width: 405px;
  height: 257px;
  border-radius: 10px;
}

.hero-btn, .hero-item-title, .hero-item-p, .nums-title, .nums-paragraph, .nums-item-title, .nums-item-paragraph, .review-title, .review-paragraph, .review-btn, .secrets-title {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

.logo, .hero-title, .hero-item-num {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.bg-header-hero {
  background-image: url(../img/bg-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-secrets-nums {
  background-image: url(../img/bg-secret.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */