@import "./components/footer";
@import "./components/gallery";
@import "./components/header";
@import "./components/hero";
@import "./components/learnMore";
@import "./components/lifeReview";
@import "./components/numbers";
@import "./components/process";
@import "./components/review";
@import "./components/secrets";
@import "./ulilles/placeholder";

.bg-header-hero {
  background-image: url(../img/bg-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-secrets-nums {
  background-image: url(../img/bg-secret.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}
.copyright{
  @extend %mainFont;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: white;
  width: 163px;
  height: 28px;
}
.line{
  height: 220px;
  width: 3px;
  color: (21, 20, 57, 0.4);
  opacity: 40%;
}
.two-three{
  height: 500px;
}
