@import "./components/footer";
@import "./components/gallery";
@import "./components/header";
@import "./components/hero";
@import "./components/learnMore";
@import "./components/lifeReview";
@import "./components/numbers";
@import "./components/process";
@import "./components/review";
@import "./components/secrets";
@import "./ulilles/placeholder";

.bg-header-hero {
  background-image: url(../img/bg-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

li{
  list-style-type: none;
}

img{
  display: block;
}



ul{
  list-style-type: none;
}

