.footer {
  background-color: #010a20;
  padding: 50px 153px 35px 70px;
}
.footer-logo-separate {
  color: white;
}
.footer-header-wrapper {
  display: flex;
  gap: 64px;
}
.footer-flower-icon {
  width: 40px;
  height: 49px;
}
.footer-logo-wrapper {
  display: flex;
  gap: 10px;
}
.footer-logo {
  width: 128px;
  height: 56px;
  text-transform: uppercase;
  text-decoration: none;
  @extend %secondaryFont;
  display: block;
  color: #dd2242;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.32px;
  line-height: 81%;
}
.footer-wrapper-first {
  display: flex;
  gap: 124px;
}
.footer-wrapper-second {
  display: flex;
  gap: 50px;
}
.footer-list {
  display: flex;
  gap: 36px;
}
.footer-item {
}
.footer-item-link {
  @extend %mainFont;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: white;
  text-decoration: none;
}

// second list

.footer-list-icon {
  display: flex;
  gap: 22px;
}
.footer-item-icon {
}

// icons

.facebook-icon {
  width: 24px;
  height: 24px;
}
.linkedin-icon {
  width: 24px;
  height: 24px;
}
.google-icon {
  width: 24px;
  height: 24px;
}
.footer-main-wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 92px 0px 83px 0px;
  }
  .footer-logo {
    height: 56px;
    font-size: 23px;
    line-height: 90%;
    letter-spacing: 0.32px;
    text-align: left;
  }
  .footer-logo-wrapper {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 174px;
    margin-bottom: 36px;
  }
  .footer-list {
    display: block;
    margin: 0 auto;
  }
  .footer-item {
    margin-bottom: 36px;
  }
  .footer-item-link {
    width: 71px;
    height: 35px;
    font-size: 23px;
    line-height: 35px;
  }
  .footer-wrapper-first {
    gap: 0;
    display: block;
  }
  .footer-wrapper-second {
    margin: 0 auto;
    display: block;
    align-items: center;
    text-align: center;
    gap: 0;
    width: 204px;
  }
  .footer-list-icon {
    margin-bottom: 36px;
    justify-content: center;
  }
  .footer-item-icon {
    width: 31px;
    height: 31px;
  }
  .footer-mobile-wrapper {
    display: block;
  }
  .copyright {
    width: 204px;
    height: 36px;
    font-size: 23px;
    line-height: 36px;
    letter-spacing: 0.65px;
  }
}
