.life-review {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsla(240, 100%, 5%, 0.9);
  background-image: url(../../img/life-review-bg.png);
  padding-top: 141px;
  color: white;
  margin: 0 auto;
}
.life-review-title {
  width: 1056px;
  height: 142px;
  @extend %mainFont;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: white;
  text-align: center;
  margin-bottom: 67px;
  margin: 0 auto;
}
.video-wrapper {
  position: relative;
  width: 1056px;
  height: 594px;
  margin-bottom: 127px;
}

.video-thumbnail {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.video {
  width: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  background: #e93a7d;
  border: none;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modified {
  width: 233px;
  height: 151px;
}

.btn-modified{
  background: none;
}
.life-review-list {
  display: flex;
  gap: 75px;
  margin: 0 auto;
}
.life-review-list-item {
  gap: 42px;
  display: flex;
}
.life-review-item-video {
  width: 233px;
  height: 151px;
  border-radius: 5px;
}
.life-review-item-title {
  width: 233px;
  height: 32px;
  @extend %mainFont;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 15px;
}
.life-review-item-paragraph {
  width: 334px;
  height: 142px;
  opacity: 70%;
  line-height: 28px;
  @extend %mainFont;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
}
