.review-section {
  padding: 0;
}
.review-wrapper-first {
  background-image: linear-gradient(
      to top,
      #010a20 0%,
      rgba(1, 10, 32, 0.7) 100%
    ),
    url(../../img/road.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 205px 0px 205px 0px;
}
.review-wrapper-second {
  background-image: linear-gradient(
      to bottom,
      #010a20 0%,
      rgba(1, 10, 32, 0.7) 100%
    ),
    url(../../img/beach.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 205px 0px 205px 0px;
  display: flex;
  flex-direction: row-reverse;
}
.review-list {
  padding: 0;
}
.review-list-item {
  display: flex;
  gap: 130px;
  text-align: left;
}
.review-item-direction{
  display: flex;
  flex-direction: row-reverse;
}

.review-image {
  width: 630px;
  height: 460px;
  border-radius: 10px;
}
.review-title {
  color: white;
  width: 479px;
  height: 119px;
  @extend %mainFont;
  font-weight: 700;
  font-size: 42px;
  text-align: left;
  line-height: 50px;
}
.review-paragraph {
  width: 407px;
  height: 83px;
  @extend %mainFont;
  font-weight: 400;
  font-size: 18px;
  color: #e0e0e0;
  line-height: 28px;
  letter-spacing: 1%;
  text-align: left;
}
.review-btn {
  background-color: #dd2242;
  color: white;
  border: none;
  border-radius: 32px;
  width: 179px;
  height: 59px;
  padding: 16px 24px;
  @extend %mainFont;
  font-weight: 700;
  font-size: 18px;
}
.review-btn:hover {
  background-color: #c9203c;
}
