.secrets {
  padding-top: 127px;
  padding-bottom: 933px;
}
.secrets-title {
  text-align: center;
  margin-bottom: 44px;
  @extend %mainFont;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  vertical-align: middle;
  color: #010A20;
}
.secrets-list {
  display: flex;
  gap: 31px;
}
.secrets-list-item {
}
.secrets-img{
    width: 405px;
    height: 257px;
    border-radius: 10px;
}
